body {
    text-align: center;
    background: background: rgb(219, 191, 225);
    background: linear-gradient(90deg, rgba(219, 191, 225, 1) 35%, rgba(145, 201, 248, 1) 100%);
    background-repeat: no-repeat;
}

h1 {
    text-shadow: 2px 2px #F8BBD0;
    font-size: 50px;
}

#bio {
    padding: 20px;
    font-size: 18;
    text-align: center;
}

img {
    border-radius: 50%;
    width: 400px;
}

#hobby {
    font-size: 100px;
    font-family: 'Courgette', cursive;
}

.menu {
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
}

.links {
    list-style: none;
    cursor: pointer;
    float: left;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-family: fantasy;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

.links:hover {
    background-color: dodgerblue;
}

.links {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.links:hover {
    background-color: #555555;
    color: white;
}

.links:active {
    background-color: #555555;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.links {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

a {
    font-size: 24px;
}
